h1 {
    position: relative;
    text-align: center;
    font-family: motoyalmaruw3_mono;
    font-size: 40px;
}
body{
	background-color: lightpink;
}

img {
	width: auto;
	height: auto;
}

#error {
	text-align: center;
}

#scene {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#ui {
	text-align: center;
	margin: 0 auto;
}
#image-list {
	max-width: 22%;
	max-height: 75%;
	height: 75%;
	width: 22%;
	float: left;
	overflow-y: scroll;
}

#bg-list {
	height: 75%;
	width: 22%;
	float: right;
	overflow-y: scroll;
}

